<section id="navigation"></section>

<section id="hero">
    <div class="imageWrapper">
        <img src="assets/images/hero.jpg" aria-hidden="true">
    </div>
    <div class="overlay">
        <t-headline size="72px" color="var(--white)">Internet History Austria</t-headline>
        <t-space height="1rem"></t-space>
        <t-text size="28px" color="var(--white)">From '99 to today</t-text>
    </div>
</section>

<section id="prologue">
    <t-headline size="36px">Prologue</t-headline>
    <t-space height="2rem"></t-space>
    <t-text size="16px">I was born in Austria in 1999, this is why I choose this country to do my research on. I remember using the internet before I was even ten years old on a PC running Windows XP at that time. My online activity was very limited back then – mostly looking at images of sports cars or playing Star Wars browser games. I had no idea what revolutionary technology I was interacting with at that time.</t-text>
</section>

<t-space height="3rem"></t-space>

<section id="temperature">
    <t-headline size="36px">Current Temperatures</t-headline>
    <t-space height="0.5rem"></t-space>
    <div>
        <t-temperature lat="48.2085" lon="16.3721" aria-label="Current Temperature in Celsius in Austria, Vienna" title="Vienna"></t-temperature>
        <t-temperature lat="47.0667" lon="15.4500" aria-label="Current Temperature in Celsius in Austria, Graz" title="Graz"></t-temperature>
        <t-temperature lat="46.6357" lon="14.3118" aria-label="Current Temperature in Celsius in Austria, Klagenfurt" title="Klagenfurt"></t-temperature>
        <t-temperature lat="47.2627" lon="11.3945" aria-label="Current Temperature in Celsius in Austria, Innsbruck" title="Innsbruck"></t-temperature>
    </div>
</section>

<section id="slider1"></section>

<section id="comments"></section>

<section id="footer"></section>