#hero {
    width: 100%;
}

#hero .imageWrapper{
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

#hero .imageWrapper img{
    display: block;
    width: 100%;
    object-fit: cover;
}

#hero .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--white);
    text-align: center;
    padding: 2rem;
}

#hero .overlay h1{
    font-size: 72px;
    font-weight: 500;
}

#hero .overlay p {
    font-size: 24px;
}

#prologue{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 3rem auto;
    background-color: var(--white);
}

#prologue h1{
    font-size: 36px;
    margin-bottom: 3rem;
    color: var(--obsidian);
}

#prologue span{
    display: flex;
    align-items: center;
    color: var(--slate);
}

#prologue t-text{
    text-align: justify;
    hyphens: auto;
}

#temperature {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 1rem;
}

#temperature div{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-left: 2rem;
}

@media (min-width: 700px){
    #prologue{
        width: 50%;
        margin: 3rem auto 3rem 4rem;
    }

    #temperature{
        margin-left: 4rem;
    }
}